apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-server-linux
spec:
  replicas: 1
  selector:
     matchLabels:
       app: mssql-server-linux
  template:
    metadata:
      labels:
        app: mssql-server-linux
        deploymentconfig: mssql-server-linux
    spec:
      terminationGracePeriodSeconds: 30
      hostname: mssqlinst
      securityContext:
        fsGroup: 10001
      containers:
      - name: mssql-server-linux
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
        - containerPort: 1433
        env:
        - name: MSSQL_PID
          value: Standard
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          value: Password!
        - name: MSSQL_AGENT_ENABLED
          value: 'true'
        volumeMounts:
        - name: mssqldb
          mountPath: /var/opt/mssql
        - name: data-sql
          mountPath: /opt/workshop
      volumes:
      - name: mssqldb
        persistentVolumeClaim:
          claimName: mssql-data
      - name: data-sql
        configMap:
          name: data-sql
          defaultMode: 420
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mssql-data
  labels:
    app: mssql-server-linux
    deploymentconfig: mssql-server-linux
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10G
  storageClassName: gp3-csi
  volumeMode: Filesystem
---
apiVersion: v1
kind: Service
metadata:
  name: mssql-server-linux
spec:
  selector:
    app: mssql-server-linux
  ports:
    - protocol: TCP
      port: 1433
      targetPort: 1433
  selector:
    app: mssql-server-linux
  type: ClusterIP
